replicaCount: 2

image:
  repository: andygolubev/eks-demo-frontend
  tag: "sha-75ce8bb"
  pullPolicy: IfNotPresent

service:
  port: 8080

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

ingress:
  enabled: true
  hostname: front.654654598709.realhandsonlabs.net
  ingressClassName: alb
  certificateArn: ""
  annotations: {}
