replicaCount: 2

image:
  repository: andygolubev/eks-demo-frontend
  tag: "sha-97b4f6c"
  pullPolicy: IfNotPresent

service:
  port: 8080

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

ingress:
  enabled: true
  hostname: front.064083568243.realhandsonlabs.net
  ingressClassName: alb
  enableHttps: true
  certificateArn: ""
  annotations: {}
