apiVersion: v1
kind: Service
metadata:
  name: frontend-svc
  labels:
    {{- include "frontend.labels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
spec:
  selector:
    app.kubernetes.io/component: frontend
  ports:
    - port: 8080
      targetPort: http
      name: http
