replicaCount: 2

image:
  repository: andygolubev/eks-demo-auth
  tag: "v0.0.1"
  pullPolicy: IfNotPresent

service:
  port: 8080

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

mongodb:
  replicas: 1
  image:
    repository: mongo
    tag: "7"
  storage:
    size: 5Gi
    storageClass: gp2
  rootUser: root
  rootPassword: rootpass
  database: authdb
