apiVersion: batch/v1
kind: Job
metadata:
  name: "migrations-{{ .Release.Revision }}"
  labels:
    {{- include "backend.labels" . | nindent 4 }}
    app.kubernetes.io/component: migrations
  annotations:
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
spec:
  backoffLimit: 3
  template:
    metadata:
      labels:
        app.kubernetes.io/component: migrations
    spec:
      restartPolicy: OnFailure
      initContainers:
        - name: wait-for-postgres
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              until nc -z postgresql.{{ .Release.Namespace }}.svc.cluster.local 5432; do
                echo "Waiting for PostgreSQL..."
                sleep 2
              done
      containers:
        - name: liquibase
          image: "{{ .Values.migrations.image.repository }}:{{ .Values.migrations.image.tag }}"
          imagePullPolicy: {{ .Values.migrations.image.pullPolicy }}
          command:
            - liquibase
            - update
            - --changelog-file=changelog/db.changelog-master.xml
            - --url=jdbc:postgresql://postgresql.{{ .Release.Namespace }}.svc.cluster.local:5432/{{ .Values.postgresql.database }}
            - --username={{ .Values.postgresql.user }}
            - --password={{ .Values.postgresql.password }}
            - --contexts=seed
