apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  labels:
    {{- include "backend.labels" . | nindent 4 }}
    app.kubernetes.io/component: backend
spec:
  selector:
    app.kubernetes.io/component: backend
  ports:
    - port: 8080
      targetPort: http
      name: http
